* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-size: 12px;
}

.container {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 23px 1px;
    border-radius: 10px;
}

img {
    border-radius: 50%;
    width: 60px;
    height: auto;
}

.person {
    margin: 10px auto;
}

.name {
    font-weight: 600;
    margin-bottom: 7px;
}

.place {
    color: hsl(75, 94%, 57%);
    font-size: 10px;
}

p {
    margin-bottom: 16px;
    font-size: 12px;
}

.btn {
    background-color: hsl(0, 0%, 20%);
    border: none;
    border-radius: 6px;
    padding: 10px 1px;
    color: white;
    width: 78%;
    margin: 4px auto;
    font-weight: 600;
    font-size: 11px;
}

.btn:hover, .btn:active {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}


@media(max-width: 400px) {
    .container {
        width: 85%;
    }

    p {
        font-size: 10px;
    }

    .btn {
        width: 85%;
    }
}